VITE_KIBANA_URL=https://otel-demo-a5630c.kb.us-east-1.aws.elastic.cloud
VITE_ES_URL=https://otel-demo-a5630c.es.us-east-1.aws.elastic.cloud
VITE_SECURITY_KIBANA_URL=https://my-security-project-ac9463.kb.us-central1.gcp.elastic.cloud
VITE_SECURITY_ES_URL=https://my-security-project-ac9463.es.us-central1.gcp.elastic.cloud
VITE_INSTRUQT_INVITE_URL=
